.gradient-custom {
  /* background: #6a11cb; */
  background: linear-gradient(to right, rgb(206, 211, 216), rgb(139, 185, 236));
}

.form-control:focus,
.form-control:hover {
  border-color: white;
  box-shadow: none;
}
.btn:focus,
.btn:hover {
  border-color: white;
  box-shadow: none;
}
.active_btn {
  background-color: white;
  color: black;
}

.dropdown-menu .dropdown-item:active {
  background-color: #51575c;
}

.btn_drop  {
  border: none;;
  box-shadow: none;
}
.dropdown-menu {
  width: 55px;
}